<h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
<p class="header">{{ site.description | default: site.github.project_tagline }}</p>

<ul>
    {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}"><li class="download icon">ZIP</li></a>
    <a href="{{ site.github.tar_url }}"><li class="download icon">TAR</li></a>
    {% endif %}
    <a href="{{ site.github.repository_url }}"><li class="github icon">View On GitHub</li></a>
</ul>

{% if site.github.is_project_page %}
<p class="header">This project is maintained by
    <a class="header name" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
</p>
{% endif %}

{% if site.github.is_user_page %}
<ul>
    <a href="{{ site.github.owner_url }}"><li class="github icon">GitHub Profile</li></a>
</ul>
{% endif %}
