<section>
    {{ content }}
</section>

<footer>
    <p>Contact<a class="icon contact-icon email-icon" href="mailto:alexandre.huat@gmail.com"></a><a
            class="icon contact-icon phone-icon" href="tel:+33749365848"></a><a
            class="icon contact-icon linkedin-icon" href="https://www.linkedin.com/in/alexandre-huat"></a>
    </p>
    <p>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://pages-themes.github.io/dinky/">Dinky theme</a></p>
</footer>
