a.contact-icon {
    margin-left: 1ch;
}

.email-icon::before {
    content: "\f0e0";
}

.email-icon:hover:before {
    content: "\f1d8";
}

.phone-icon::before {
    content: "\f095";
}

.phone-icon:hover:before {
    content: "\f2a0";
}

.linkedin-icon::before {
    font: var(--fa-font-brands);
    content: "\f08c";
}

.linkedin-icon:hover:before {
    color: var(--linkedin-blue);
}