div.calc {
    border-radius: var(--dinky-border-radius);
    background-color: var(--dinky-gray);
    padding: 1em;
}

.calc > h5 {
    margin-top: 0px;
}

.calc > p:last-child {
    margin-bottom: 0px;
}

input.calc[type=number] {
    width: 6ch;
}