img.why-me-icon {
    height: 4em;
}

i.why-me-icon {
    font-size: 4em;
}

#price-simulator {
    border-radius: var(--dinky-border-radius);
    background-color: var(--dinky-gray);
    padding: 1em;
    margin-bottom: 22px; // same as <p> in Dinky theme
}

#price-simulator > h4 {
    margin-top: 0;
}

#price-simulator > ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

#price-simulator input[type=number] {
    width: 6ch;
}