:root {
    --dinky-black: #171717;
    --dinky-red: #C30000;
    --dinky-gray: #CCC;
    --dinky-bg-gray: #FBFAF7;
    --dinky-border-radius: 1ex;
    --linkedin-blue: #0B66C2;
}

sub {
    vertical-align: sub;
}

sup {
    vertical-align: super;
}

sub, sup {
    font-size: smaller;
}

section {
    text-align: justify;
}

footer {
    font-size: small;
}

.page-date {
    color: var(--dinky-gray);
    font-size: small;
}

.fa-flip {
    --fa-animation-duration: 2s;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
}

.icon:hover:before {
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

header .icon::before {
    margin-right: 1ch;
}

.download.icon::before {
    content: "\f019"
}

.github.icon::before {
    font: var(--fa-font-brands);
    content: "\f09b";
}

.github-alt.icon::before {
    font: var(--fa-font-brands);
    content: "\f113";
}

.site-nav .home.icon::before {
    content: "\f015"; // house
}

.h1-nav .icon::before {
    content: "\f0da"; // caret-right
}

a {
    font-weight: inherit;
}

th, td {
    text-align: center;
    vertical-align: middle;
}

.circle {
	border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    border-radius: var(--dinky-border-radius);
}

img.small {
	max-width: 144px;
}

img.float-right {
	float: right;
	margin-left: 1em;
}

ul.quote {
    list-style: none;
}

p.quote {
    margin-left: 1em;
}

.quote .content  {
    font-style: italic;
}

a.certif-proof.icon::before {
    content: "\f5bf";
}

a.certif-proof.icon:hover:before {
    content: "\f0a3";
}

.fa-border {
    border: 1px solid var(--dinky-gray);
}
