a {
    font-weight: inherit;
}

th, td {
    text-align: center;
    vertical-align: center;
}

footer {
    font-size: small;
}

.circle {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
