:root {
    --dinky-black: #171717;
    --dinky-red: #C30000;
    --dinky-gray: #CCC;
    --dinky-bg-gray: #FBFAF7;
    --dinky-border-radius: 4px;

    --linkedin-blue: #0B66C2;
}

.page-date {
    color: var(--dinky-gray);
    font-size: small;
}

nav a:hover {
    text-decoration: none;
}

.page-date .icon, nav .icon {
    margin-right: 1ch;
}

header .icon::before, .contact-icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-solid);
}

header .icon::before {
    margin-right: 1ch;
}

.download.icon::before {
    content: "\f019"
}

.github.icon::before {
    font: val(--fa-brands);
    content: "\f09b";
}

header nav .icon::before {
    content: "\f0da";
}

a {
    font-weight: inherit;
}

th, td {
    text-align: center;
    vertical-align: center;
}

.circle {
	border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quote {
    list-style: none;
}

.quote .icon {
    color: var(--dinky-red);
}

.quote .content  {
    font-style: italic;
}

.fa-border {
    border: 1px solid var(--dinky-gray);
}